data/omega_vision/recordings/*/*/*.metta
data/omega_vision/recordings/*/*/*.pl
data/omega_vision/recordings/*/*/*/*.pl
data/omega_vision/recordings/*/*/*/*.metta
data/omega_vision/recordings/*/*/*/*.json
data/omega_vision/recordings/*/*/*/*/

